<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Stasie Radio</title>
        <link rel="shortcut icon" type="image/jpg" href="./images/logo.png"/>
        <link rel="stylesheet" href="style.css">
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
        <script src="script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    </head>
    <body>
        <div id="app">    
            <!-- <div class="inBuild">
                <img src="./images/warning.png" class="iconWarning">
                <p class="error_text">Ta strona jest aktualnie remontowana. Przepraszamy za utrudnienia. Życzymy miłego słuchania.</p>
                <img src="./images/warning.png" class="iconWarning">
            </div> -->
            <nav id="navigation">
                <div class="nav_logo">
                    <a href="#">
                        <img src="./images/logo.png">
                    </a>
                </div>
                
                <ul class="nav-links">
                    <li class="link" ><a @click="scrollToTarget('info')">Info</a></li>
                    <li class="link"><a @click="scrollToTarget('player')">Słuchaj Radia</a></li>
                    <li class="link"><a @click="scrollToTarget('ramowka')">Ramówka</a></li>
                    <li class="link"><a @click="scrollToTarget('songs')">Piosenki</a></li>
                    <li class="link"><a @click="scrollToTarget('people_of_radio')">Redaktorzy</a></li>
                    <li class="link"><a @click="scrollToTarget('info_of_radio')">Wiadomości</a></li>
                    <li class="link"><a @click="scrollToTarget('footer')">Kontakt</a></li>
                </ul>
            </nav>

            <div class="scrollUp" @click="scrollToTarget('navigation')">
                <img src="./images/upload.png" class="photo_scroll_up">
            </div>

            
            <header class="container">
                <div class="content" id="info">
                    <span class="blur"></span>
                    <span class="blur"></span>
                    <h4>Witaj na oficjalnej stronie</h4>
                    <H1>Stasiego Radia! </H1>
                    <p>
                        
                        Stasie Radio to radio internetowe mające swoją siedzibę w I LO im. Stanisława Staszica w Lublinie. 
                        Zostało stworzone na fundamentach cenionego wśród społeczności szkolnej radiowęzła. 
                        Jest inicjatywą opartą na wieloletniej tradycji, którą kultywujemy w odnowiony sposób. 
                        Zapraszamy każdego do słuchania. Odpręż się przy ulubionej muzyce, poznaj lokalne wieści, posłuchaj wyjątkowych audycji, 
                        a także weź udział w różnorodnych teleturniejach i zabawach!
                    </p>
                </div>
                <div class="image">
                    <img class="image_radius" src="./images/radio_studio.jpg">
                </div>
            </header>
            
            <div class="container">
                <div class="infoPlayer" id="player">
                    <!-- <img src="./images/girl.png" class="image_player"> -->
                    <div class="playerTextInfo">
                        <p class="centerText">Na antenie</p>
                        <p class="centerText">Teraz gramy</p>
                        <!-- <h3 class="nameAudycjaInfo">{{ w.title }}</h3> -->
                        <h3 class="centerText" data-shoutcast-value="songtitle"></h3>
                        <!-- <p class="centerText">{{ w.creator }}</p> -->
                    </div>
                    
                </div>
                <div class="audio_player">
                    <audio-player title="My cool super long named audio sound"
                    src="./song/song.mp3"
                    bar-width="5"
                    bar-gap="2"
                    crossorigin="anonymous"
                    preload autoplay
                    ></audio-player>
                </div>        
            </div>

            <div style="background-color: #113348;">
                <div class="container" id="ramowka">
                    <div class="nawigacjaRamowka">
                        <h1>Ramówka</h1>
                        <div class="nawigacja">
                            <button @click="previousWeekDay" class="previousButton">
                                <img src="./images/angle-left.png" class="arrow_button">
                            </button>
                            <h3 class="weekDayStyle">{{ nameOfWeekDay }}</h3>
                            <button @click="nextWeekDay" class="nextButton">
                                <img src="./images/angle-right.png" class="arrow_button">
                            </button>
                        </div>
                    </div>
                    <table class="RamowkaTable">
                        <tr>
                            <td class="godzinaRamowka">Godzina</td>
                            <td class="titleRamowka">Autor</td>
                            <td class="titleRamowka">Tytuł</td>
                            <!-- <td class="titleRamowka">{{ zz.weekDayNumber }}</td> -->
                            <td class="titleRamowka">Opis</td>
                        </tr>
                        <tr v-for="zz in listItems">
                            <td class="godzinaRamowka">{{ zz.timeStart }}</td>
                            <td class="titleRamowka">{{ zz.creator }}</td>
                            <td class="titleRamowka">{{ zz.title }}</td>
                            <!-- <td class="titleRamowka">{{ zz.weekDayNumber }}</td> -->
                            <!-- <td class="titleRamowka">{{ zz.opis }}</td> -->
                        </tr>
                    </table>
                </div>
            </div>

            <div class="container" id="songs">
                <span class="blur2"></span>
                <span class="blur2"></span>
                <div class="nawigacjaSongs">
                    <h1>Piosenki</h1>
                </div>
                <table class="RamowkaTable">
                    <tr v-for="zz in 10">
                        <td class="godzinaRamowka">19:59</td>
                        <td class="titleRamowka">aaaaaaaaa ssssssss ssss sss sss aaaaaa</td>
                    </tr>
                </table>
            </div>
            
            
            <div class="background_of_people">
                <div class="container" id="people_of_radio">
                    <h1 class="title_people_style">Redaktorzy</h1>
                    <div class="people">
                        <!-- <ul>
                            <li v-for="item in listItems">
                              {{ item }} 
                            </li>
                        </ul> -->

                        <li v-for="item in people" style="list-style: none;">
                            <div class="card">
                                <img :src="item.photo" class="picture">
                                <p class="name">{{ item.creator }}</p>
                                <p class="opis">{{ item.opis }}</p>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
            
            <div class="container" id="info_of_radio">
                <div class="blog" id="app">
                    <div class="nawigacja">
                        <button @click="loadPrevious" v-if="nextIndex > 0" class="buttonInfo"><img src="./images/angle-left.png" class="arrow_button"></button> 
                        <!-- <img @click="loadPrevious" v-if="nextIndex > 0" src="./images/angle-left.png" class="arrow_button"> -->
                        <h1>Wydarzenia</h1>
                        <button @click="loadMore" v-if="nextIndex+numberOfShowingInfo < allwiadomosci.length" class="buttonInfo"><img src="./images/angle-right.png" class="arrow_button"></button>
                        <!-- <img @click="loadMore" src="./images/angle-right.png" class="arrow_button"> -->
                    </div>
                    
                    <div v-for="n in showingWiadomosci" class="wpis">
                        <img src="./images/20231218_133456.jpg" class="photoWpis">
                        <div class="tekst">
                            <h2 class="title_post">{{ n.Title }}</h2>
                            <p>{{ n.Tresc }}</p>
                            <h5 class="autor_Info_Post">autor: {{ n.Autor }}</h5>
                        </div>
                    </div>
                </div>
            </div>
              

            <footer class="kontakt" id="footer">
                <div class="container" >
                    <div class="grid-container">
                    <img class="logoFooter" src="./images/logo.png">
                    <div class="oficial">
                        <p style="font-weight: bold;">Kontakt:</p>
                        <ul class="kontaktList">
                            <li class="kontatkWartosc">
                                <div style="display: flex;">
                                    <image src="./images/gmail.png" class="kontaktyIcon"></image>
                                    <p>Mail:</p>
                                </div>
                                <a href="mailto:stasieradiolublin@gmail.com" style="margin-left: 0.5rem;">stasieradiolublin@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="media">
                        <p style="font-weight: bold;">Media:</p>
                        <div class="mediaButtons">
                            <a class="buttonInsta" target="_blank" href="https://www.instagram.com/stasie_radio/">
                                <img src="./images/instagram.png" alt="HTML tutorial" class="buttonInstaSize">
                            </a>
                            <a class="buttonInsta" target="_blank" href="https://tellonym.me/radio.staszic">
                                <img src="./images/chat-bubble.png" alt="HTML tutorial" class="buttonInstaSize">
                            </a>  
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
      <!-- <script src="jquery.shoutcast.easy.min.js?host=example.com&port=8000"></script> -->

    </body>
    <script>
        let app = Vue.createApp({
            el: '#app', 
            data() {
                return {
                    numberOfShowingInfo: 5,
                    people: [],
                    allwiadomosci: [],
                    scrollLocation: null,
                    nextIndex: 0,
                    showingWiadomosci: [],
                    aktualnaAudycja: [],
                    currentSong: null,
                    
                    actualWeekDay: 0,
                    listItems: [],
                    nameOfWeekDay: "Poniedziałek",
                    current: new Date(),
                }
            },
            methods: {
                updateRamowka(){
                    fetch('https://stasieradio.pl/cgi-bin/phpAplikacja/getWeekProgram.php?week='+String(this.actualWeekDay))
                        .then(odp => odp.json())
                        .then(data => {
                            console.log(data);
                            this.listItems = data;
                        })
                        .catch(err => console.log(err))

                    switch(this.actualWeekDay) {
                    case 0:
                        this.nameOfWeekDay = "Poniedziałek";
                        break;
                    case 1:
                        this.nameOfWeekDay = "Wtorek";
                        break;
                    case 2:
                        this.nameOfWeekDay = "Środa";
                        break;
                    case 3:
                        this.nameOfWeekDay = "Czwartek";
                        break;
                    case 4:
                        this.nameOfWeekDay = "Piątek";
                        break;
                    case 5:
                        this.nameOfWeekDay = "Sobota";
                        break;
                    case 6:
                        this.nameOfWeekDay = "Niedziela";
                        break;                    
                    default:
                        this.nameOfWeekDay = "ErrorTeraz";
                        break; 
                    }
      
                },

                scrollToTarget(scrollLocation) {
                    const element = document.getElementById(scrollLocation)
                    element.scrollIntoView({
                    behavior: 'smooth'
                    })
                },

                loadMore() {
                    this.nextIndex += this.numberOfShowingInfo
                    this.showingWiadomosci = this.allwiadomosci.slice(this.nextIndex, this.nextIndex + this.numberOfShowingInfo)
                },

                loadPrevious() {
                    this.nextIndex -= this.numberOfShowingInfo  
                    this.showingWiadomosci = this.allwiadomosci.slice(this.nextIndex, this.nextIndex + this.numberOfShowingInfo)
                },

                updateSong() {
                    $.SHOUTcast({
                        host : 'stardust.wavestreamer.com',
                        port : 8062
                    }).stats(function(){
                        $('#songtitle').text(this.get('songtitle'));
                    });
                },

                nextWeekDay(){
                    this.actualWeekDay += 1;
                    if(this.actualWeekDay > 6){
                        this.actualWeekDay = 0;
                    }
                    
                    this.updateRamowka();
                },

                previousWeekDay(){
                    this.actualWeekDay -= 1;
                    if(this.actualWeekDay < 0){
                        this.actualWeekDay = 6;
                    }
                    this.updateRamowka();
                },

                updateWiadomosci(){
                    fetch("https://stasieradio.pl/cgi-bin/phpAplikacja/showInfo.php")
                        .then(response => response.json())
                        .then(data => {
                            this.allwiadomosci = data;
                            this.showingWiadomosci = this.allwiadomosci.slice(this.nextIndex, this.nextIndex + this.numberOfShowingInfo)
                        });
                }



            },

            mounted() {
                fetch("https://stasieradio.pl/cgi-bin/phpAplikacja/people_import.php")
                    .then(response => response.json())
                    .then(data => {
                        this.people = data;
                    });
                //this.actualWeekDay = this.current.getDay();
                
                this.updateRamowka();
                this.updateWiadomosci();
                    
                // this.updateSong();

                setInterval(() => {
                    // this.updateSong();
                    this.updateWiadomosci();

                    // fetch("http://localhost/getAktualna.php")
                    //     .then(res => res.json())
                    //     .then(data => {
                    //         this.aktualnaAudycja = data;
                    //     })
                    //     .catch(err => console.log(err))

                }, 60000)
            }
        });
        
        app.mount("#app");

    </script>
</html>