@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #DFF6FF;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #06283D;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav_logo{
    max-width: 77px;

}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #DFF6FF;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color:  #A9DCFF;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #DFF6FF;
    background-color:  #A9DCFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1363DF;

}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #A9DCFF;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem
}

.picture
{
    width: 9rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.card{
    /* background-color: rgb(0, 111, 139);
    border: solid 0.4rem rgb(1, 79, 99);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(1, 29, 36, 0.2), 0 6px 20px 0 rgba(1, 29, 36, 0.2);
    margin: 0.2rem;
    transition: .2s; */
    
    box-shadow: 0 7px 20px 5px #00000088;
    margin: 0.4rem;
    width: 13rem;
    height: 20rem;
    user-select: none;
    max-width: 300px;
    border: 1px solid #ffffff22;
    background: linear-gradient(0deg, #5d6168 0%, rgba(17, 0, 32, 0.5) 100%);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.1) .2s;
    position: relative;
    z-index: 2;
    
    box-shadow: 0 7px 20px 5px #00000088;
}

.people{
    /* background-color: antiquewhite; */
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: fit-content;
    margin-top: 3rem;
}

.name, .opis{
    margin: auto;
    text-align: center;
}

.name{
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}

/* ---------------------------------------------------------- */

.audio_player{
    position: sticky;
    top: 1rem;
    z-index: 10;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* 88888888888888888888888888888888888888888888888 */
.wypelniacz{
    width: 200px;
    height: 5000px;
    background-color: #fff;
}

.inBuild
{
    display: flex;
    background-color: #ffff0087;
    border-bottom: 0.3rem solid #ffffff87;
}

.iconWarning{
    width: 2rem;
    height: 2rem;
    margin: auto;
    /* padding-top: 0.2rem;
    padding-bottom: 0.2rem; */
}

.error_text{
    margin: auto;
  font-style: italic;
  font-size: larger;
  padding: 0.6rem;
}
/* ------------------- FOOTER ------------------- */
.buttonInsta{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.7rem;
    margin-top: 0.3rem;
}

footer{
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    background-color: #00000031;
    /* height: auto; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.logoFooter{
    width: 6rem;
    height: 6rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
}

.oficial{
    /* background-color: red; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.kontatkWartosc{
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.kontaktList{
    list-style-type: none;
}

.kontaktyIcon{
    width: 1rem;
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
}

.mediaButtons{
    display: flex;
    
}

.media{
    margin-top: 1rem;
    margin-bottom: 1rem;
}