@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #DFF6FF;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #06283D;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav_logo{
    max-width: 77px;

}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #DFF6FF;
    cursor: pointer;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color:  #A9DCFF;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #DFF6FF;
    background-color:  #A9DCFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1363DF;

}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #A9DCFF;
    z-index: -100;
}

.blur2{
    position: absolute;
    box-shadow: 0 0 1000px 50px #A9DCFF;
    z-index: -100;
    top: 128rem;
    right: 5rem;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem
}

.picture
{
    width: 9rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.card{
    /* background-color: rgb(0, 111, 139);
    border: solid 0.4rem rgb(1, 79, 99);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(1, 29, 36, 0.2), 0 6px 20px 0 rgba(1, 29, 36, 0.2);
    margin: 0.2rem;
    transition: .2s; */
    
    box-shadow: 0 7px 20px 5px #00000088;
    margin: 0.4rem;
    width: 13rem;
    height: 20rem;
    user-select: none;
    max-width: 300px;
    border: 1px solid #ffffff22;
    background: linear-gradient(0deg, #5d6168 0%, rgba(17, 0, 32, 0.5) 100%);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.2); 
    position: relative;
    z-index: 2;
    
    /* box-shadow: 0 7px 20px 5px #00000088; */
}

.people{
    /* background-color: antiquewhite; */
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: fit-content;
    /* margin-top: 3rem; */
}

.name, .opis{
    margin: auto;
    text-align: center;
}

.name{
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}

/* ---------------------------------------------------------- */
.audio-player{
    
}


.audio_player{
    /* position: sticky;
    top: 1rem; */
    z-index: 10;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2rem;
    margin-bottom: 6rem;
}

/* 88888888888888888888888888888888888888888888888 */
.wypelniacz{
    width: 200px;
    height: 5000px;
    background-color: #fff;
}

.inBuild
{
    display: flex;
    background-color: #ffff0087;
    border-bottom: 0.3rem solid #ffffff87;
}

.iconWarning{
    width: 2rem;
    height: 2rem;
    margin: auto;
    /* padding-top: 0.2rem;
    padding-bottom: 0.2rem; */
}

.error_text{
    margin: auto;
  font-style: italic;
  font-size: larger;
  padding: 0.6rem;
}
/* ------------------- FOOTER ------------------- */
.buttonInsta{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.7rem;
    margin-top: 0.3rem;
}

footer{
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    background-color: #00000031;
    /* height: auto; */
}

.grid-container {

    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.logoFooter{
    width: 6rem;
    height: 6rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
}

.oficial{
    /* background-color: red; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.kontatkWartosc{
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.kontaktList{
    list-style-type: none;
}

.kontaktyIcon{
    width: 1rem;
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
}

.mediaButtons{
    display: flex;
    
}

.media{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image{
    border: 1px solid #dff6ff;
    border-radius: 1rem;
    padding: 5px;
    /* width: 150px; */
}

.image_radius
{
    border-radius: 1rem;
    /* box-shadow: 10px 10px 10px 10px lightblue; */
}

.wpis{
    display: flex;
    margin-top: 2.5rem;
}

.blog{
    margin-top: 3rem;
}

.tekst{
    /* padding: 1rem; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}

.photoWpis{
    width: 16rem;
    height: 12rem;
    border: 1px solid #dff6ff;
    border-radius: 1rem;
    padding: 0.3rem;
    margin-top: auto;
    margin-bottom: auto;
}

.nawigacja{
    display: flex;
    margin-bottom: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  /* background-color: black; */
    margin-top: 2rem;
}

.arrow_button{
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: aquamarine; */
    /* margin-top: 0.4rem; */
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.infoPlayer{
    background-color: #01131e;
    border-radius: 0.3rem;
    height: 8rem;
    width: 100%;
    display: flex;
    margin-top: 4rem;
}

.image_player{
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.playerTextInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .centerText{
    padding-top: auto;
    padding-bottom: auto;
} */

/* .nameAudycjaInfo{
    margin-left: 0.1rem;
} */

.nawigacjaRamowka{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 1.5rem;
    margin-top: 4rem;
}

.RamowkaTable{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
}

.titleRamowka{
    /* width: 25rem; */
}

.godzinaRamowka{
    width: 6rem;
    text-align: center;
}

.godzinaRamowka, .titleRamowka{
    padding: 0.4rem;
    border-bottom: 0.1rem solid white;
}

.nawigacjaSongs{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 1.5rem;
}

.scrollUp{
    position: fixed;
    right: 1.3rem;
    bottom: 1.3rem;
    background-color: #1b4a67;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    box-shadow: inset 0px 0px 9px 2px #16618f;
    transition: transform 0.5s; 
}

.scrollUp:hover {
    transform: rotate(360deg);
}

.photo_scroll_up{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.background_of_people{
    background-color: #113348;
    padding-top: 3rem;
    padding-bottom: 4rem;
}


.title_people_style{
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 4rem;
}

.buttonInfo{
    background-color: #0000;
    border: none;
}

.autor_Info_Post{
    margin-top: 1rem;
}

.title_post{
    margin-bottom: 0.5rem;
}

.previousButton, .nextButton{
    background: none;
}


@media only screen and (max-width: 1000px) {
    .image{
        display: none;
    }

    header{
        display: flex;
    }
}